.Heaader{
    width: 100%;
    height: 100px;
    background-color: red;
}

.dropdown1{
    height: auto;
    display: flex;
    justify-content: center;
    width: autos;
    align-items:flex-end;
    position: relative;
    
}



.dropdown1 p{
    margin-bottom: 5px;
    padding: 2px 15px;
    background-color: aquamarine;
}

.management{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
}
.dropdown2{
    position: absolute;
    top: 100%;
}

.option3{
    position: relative;
}

.dropdown3{
    position: absolute;
    top: 0;
    left: 101%;
}

.active1{
    display: none;
}

.active2{
    display: none;
}